* {
    box-sizing: border-box;
  }
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    min-height: 100%;
    background: rgb(232, 225, 173);
    padding: 40px;
  }
  footer {
    display: flex;
    align-items: center;
    padding: 30px;
    background: rgb(34, 101, 114);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgb(72, 183, 175);
  }
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    background: rgb(198, 216, 236);
  }